*
!LICENSE
!server.py
!yaml4schm.py
!yaml4schm_defs.py
!operators.py
!helpers.py
!d3hw_edit_tpl.html
!d3hw_view_tpl.html
!hdelk_edit_tpl.html
!hdelk_view_tpl.html
!editor_tpl.html
!Demo/html/css/*
!Demo/html/css/**/*
!Demo/html/js/*
!Demo/html/js/**/*
!Demo/html/monaco/*
!Demo/html/monaco/**/*
!Demo/**/*.yaml
!Demo/macro/*
!Demo/primitives/*
!Demo/*.yaml
