html,
body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #222;
    border-color: #222;
    background: #222;
}

body {
    display: flex;
    align-items: stretch;
}

.container {
    display: flex;

    /* Misc */
    /* border: 1px solid #4b4b4b; */
    border-style: none;
    width: 100%;
}

.resizer[data-direction='horizontal'] {
    background-color: #4b4b4b;
    cursor: ew-resize;
    height: 100%;
    width: 6px;
}

.resizer[data-direction='vertical'] {
    background-color: #4b4b4b;
    cursor: ns-resize;
    height: 6px;
    width: 100%;
}

.resizer:hover {
    background-color: rgb(20, 110, 110);
}

.container__left {
    /* Initially, the left takes 220px */
    width: 290px;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__middle {
    /* Initially, the left takes 1/2 width */
    width: 50%;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__right {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__tl {
    /* Initial height */
    height: 6rem;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__tm {
    /* Initial height */
    height: 6rem;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__tr {
    /* Initial height */
    height: 2rem;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__bl {
    /* Take the remaining height */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__bm {
    /* Take the remaining height */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__br {
    /* Take the remaining height */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}

.browser {
    height: 100%;
    width: 100%;
}
.editor {
    height: 100%;
    width: 100%;
}
.preview {
    height: 100%;
    width: 100%;
}
