/* ========================================================================== */
/* === Common styles === */

/* -= General setup =- */
.tool {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #1A1A1A;
    color: #FFF;
}

body.tool {
    line-height: 1.4;
    margin: 0 1em;
}

/* Show special cursor on disabled areas */
.disabled {
    cursor: not-allowed;
}

/* Proven method to visually hide something but */
/* still make it available to assistive technology */
.visually-hidden {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

/* General class to make bold font */
.f-bold {
    font-weight: bold;
}

/* -= Theme colors for areas and buttons =- */

/* Transparent background with theme colored highlight on hover */
.b-t {
    background-color: rgba(0,0,0,0);
}

button.b-t:hover {
    background-color: #525252;
}

/* Bold on all transparent background */
.bf-t {
    background-color: rgba(0,0,0,0);
    font-weight: bold;
}

button.bf-t:hover {
    background-color: #525252;
}

/* -= Background colors and highlights =- */

/* Generic (theme) color */
.b-but {
    background-color: #3A3A3A;
}

button.b-but:hover{
    background-color: #636363;
}

/* Mnemonic colors */

.b-red {
    background-color: #662c2c;
}

button.b-red:hover {
    background-color: #8b3b3b;
}

.b-green {
    background-color: #2c6634;
}

button.b-green:hover {
    background-color: #3d8d48;
}

.b-blue {
    background-color: #2c3766;
}

button.b-blue:hover {
    background-color: #3f4f97;
}

.b-yellow {
    background-color: #6f751a;
}

button.b-yellow:hover {
    background-color: #a1a323;
}

.b-orange {
    background-color: #865711;
}

button.b-orange:hover {
    background-color: #af7114;
}

/* -= Foreground colors =- */

/* Mnemonic colors */
.f-theme {
    color: #fff;
}

.f-white {
    color: #fff;
}

.f-black {
    color: #000;
}

.f-red {
    color: #bd3a3a;
}

.f-green {
    color: #0c8f29;
}

.f-blue {
    color: #1b6bc7;
}

.f-yellow {
    color: #d4bf00;
}

.f-orange {
    color: #f7a100;
}

.f-greyed {
    color: #747474;
}

button.f-greyed:hover {
    background-color: #414141;
}

/* -= Interaction Items =- */

/* Text entry style */
.tool input {
    background-color: #3A3A3A;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

/* Dropdown style */
.tool select {
    background-color: #3A3A3A;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

/* Button */
button.tool {
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    transition-duration: 0.2s;
}

/* Disabled button highlight */
button.disabled:hover {
    background-color: #3A3A3A;
}

/* Class to hide buttons */
button.tool-hidden {
    display: none;
}

/* Iconic button */
/* Is used for buttons in toolbox and folder/file icons*/
button.tool-icon {
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px;
    width: fit-content;
    line-height:26px;
    font-size: 26px;
    font-weight: bold;
    transition-duration: 0.2s;
}

button.tool-icon:hover{
    background-color: #525252;
}

/* Table General */
.tool table {
    margin: 1em 0;
    border-collapse: collapse;
}

.tool caption {
    text-align: left;
    font-style: italic;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

.tool th,
.tool td {
    padding: 4px;
    vertical-align: text-top;
    text-align: left;
}

.tool th {
    vertical-align: bottom;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

/* ========================================================================== */
/* === Special types === */

/* Files table specific */

.tool td:nth-of-type(1) {
    font-weight: bold;
    font-size: large;
}

.tool td:nth-of-type(4) {
    font-style: italic;
}

.tool-full th:nth-of-type(2),
.tool-full td:nth-of-type(2) {
    width: 500px;
}

.tool-compact th:nth-of-type(2),
.tool-compact td:nth-of-type(2) {
    width: 200px;
}

.tool-compact th:nth-of-type(4),
.tool-compact td:nth-of-type(4),
.tool-compact th:nth-of-type(7),
.tool-compact td:nth-of-type(7) {
    display: none;
}

.tool-tiny th:nth-of-type(5),
.tool-tiny td:nth-of-type(5),
.tool-tiny th:nth-of-type(6),
.tool-tiny td:nth-of-type(6) {
    display: none;
}

/* Styles to show / hide rows */
tr.shown,
tr.hidden {
    display: table-row;
}

tr.hidden {
    display: none;
}

/* Background for file row */
[data-file="true"] {
    background-color: #222222;
}

/* Background for folder row */
[data-folder="true"] {
    background-color: #333333;
}

/* Background for hovered row */
[data-file="true"]:hover,[data-folder="true"]:hover {
    background-color: #3A3A3A;
}

/* Cell's span with info about node (File or Folder) - date-time for file or modifications flags for folder */
.node-info {
    display: block;
}

/* Cell' span with actions toolbox. Displayed over node info when row is hovered */
.toolbox {
    display: none;
}

/* Alteration between node info and actions toolbox on hover */
.tool tr:hover td:nth-of-type(4) .node-info {
    display: none;
}

.tool tr:hover td:nth-of-type(4) .toolbox {
    display: block;
}

/* Toggle folder icon depending on state - collapsed state */
[data-folder-expanded="false"] .tool-icon-folder::after {
    content: '\1f5c0';
}

[data-folder-expanded="false"] .tool-icon-folder:hover::after {
    content: '\1f5c1';
}

/* Toggle folder icon depending on state - expanded state */
[data-folder-expanded="true"] .tool-icon-folder::after {
    content: '\1f5c1';
}

[data-folder-expanded="true"] .tool-icon-folder:hover::after {
    content: '\1f5c0';
}

/* Toggle file icon depending on state - opened tab state */
[data-file-open="true"] .tool-icon-file::after {
    content: '\1f5b9';
}

/* -= Toolbox buttons and their defaults =- */
.x-add {
    color: #fff;
}

button.x-add:hover {
    color: #f7a100;
    background-color: rgba(0,0,0,0);
}

.x-rename {
    color: #fff;
}

button.x-rename:hover {
    color: #0059be;
    background-color: rgba(0,0,0,0);
}

button.x-rename {
    font-size: 20px;
}

.x-save {
    color: #747474;
}

button.x-save:hover {
    background-color: rgba(0,0,0,0);
}

.x-reset {
    color: #747474;
}

button.x-reset:hover {
    background-color: rgba(0,0,0,0);
}

/* Changes icon on reset button depending on state */
button.x-reset::after {
    /* by default - just reset changes */
    content: '\238c';
}

[data-status~="outdate"] button.x-reset::after {
    /* when outdate - reload file */
    content: '\27f2';
}

.x-delete {
    color: #fff;
}

button.x-delete:hover {
    color: #bd3a3a;
    background-color: rgba(0,0,0,0);
}

.x-lock {
    color: #fff;
}

button.x-lock:hover {
    color: #f7a100;
    background-color: rgba(0,0,0,0);
}

/* Changing toolbox icons colors depending on state */

/* Activate save on changes */
[data-status~="changes"] button.x-save {
    color: #fff;
}

[data-status~="changes"] button.x-save:hover {
    color: #f7a100;
}

/* Disable save on errors */
[data-status~="errors"]  button.x-save {
    color: #bd3a3a;
}

[data-status~="errors"]  button.x-save:hover {
    color: #888;
}

[data-status~="outdate"]  button.x-save {
    color: #bd3a3a;
}

[data-status~="outdate"]  button.x-save:hover {
    color: #888;
}

[data-status~="flocked"]  button.x-save {
    color: #bd3a3a;
}

[data-status~="flocked"]  button.x-save:hover {
    color: #888;
}

/* Activate reset on changes */
[data-status~="changes"] button.x-reset {
    color: #fff;
}

[data-status~="changes"] button.x-reset:hover {
    color: #9244ec;
}

/* Activate unlock when locked */
[data-status~="locked"] button.x-lock {
    color: #f7a100;
}

[data-status~="locked"] button.x-lock:hover {
    color: #fff;
}

/* Activate forced unlock when locked */
[data-status~="flocked"] button.x-lock {
    color: #9244ec;
}

[data-status~="flocked"] button.x-lock:hover {
    color: #fff;
}

/* -= Status icons =- */

/* File status icon */
button.tool-status {
    background-color: rgba(0,0,0,0);
}

/* Folder status icon */
button.tool-f-status {
    background-color: rgba(0,0,0,0);
}

/* Changing status icons depending on their state */

/* On clean status - there is invisible circle icon */
[data-status=""] .tool-f-status::after {
    content: '\25cf';
}

[data-status=""] .tool-f-status {
    color: rgba(0,0,0,0);
}

[data-status=""] .tool-status::after {
    content: '\25cf';
}

[data-status=""] .tool-status {
    color: rgba(0,0,0,0);
}

/* Show Lock when Locked (would be overriden by following states if coincident) */
[data-status*="locked"] .tool-f-status::after {
    content: '\1F512';
}

[data-status*="locked"] .tool-status::after {
    content: '\1F512';
}

/* Draw border when Locked (always visible when locked) */

[data-status~="locked"] button.tool-status {
    border: solid;
    border-width: 1px;
    font-size: 12px;
}

[data-status~="flocked"] button.tool-status {
    border: dashed;
    border-width: 1px;
    font-size: 12px;
}

/* States are applied in order of priority */
/* States with higher priority are described later */
/* Dot on folder if there any changes */
/* Mnemonic icon for file state */
/* Colorize path and status depending on state */

.tool-status-color {
    color: #fff;
}

[data-status~="changes"] .tool-f-status::after {
    content: '\25cf';
}

/* Renamed/moved */
[data-status~="renamed"] .tool-status-color {
    color: #1b6bc7;
}

[data-status~="renamed"] .tool-f-status::after {
    content: '\25cf';
}

[data-status~="renamed"] .tool-status::after {
    content: 'R';
}

/* Added */
[data-status~="added"] .tool-status-color {
    color: #0c8f29;
}

[data-status~="added"] .tool-status::after {
    content: 'A';
}

/* Modified */
[data-status~="modified"] .tool-status-color {
    color: #d4bf00;
}

[data-status~="modified"] .tool-f-status::after {
    content: '\25cf';
}

[data-status~="modified"] .tool-status::after {
    content: 'M';
}

/* Removed */
[data-status~="removed"] .tool-status-color {
    color: #888;
}

[data-status~="removed"] .tool-f-status::after {
    content: '\25cf';
}

[data-status~="removed"] .tool-status::after {
    content: 'D';
}

[data-status~="removed"] .tool-text {
    text-decoration: line-through;
}

/* Errors */
[data-status~="errors"] .tool-status-color {
    color: #bd3a3a;
}

/* -= Icons for folder info =- */
/* by default are hidden, shown when associated changes in folder are detected */
button.tool-f-added {
    color: #0c8f29;
    background-color: rgba(0,0,0,0);
    display: none;
}

[data-status~="added"] .tool-f-added {
    display: inline-block;
}

button.tool-f-modified {
    color: #d4bf00;
    background-color: rgba(0,0,0,0);
    display: none;
}

[data-status~="modified"] .tool-f-modified {
    display: inline-block;
}

button.tool-f-renamed {
    color: #1b6bc7;
    background-color: rgba(0,0,0,0);
    display: none;
}

[data-status~="renamed"] .tool-f-renamed {
    display: inline-block;
}

button.tool-f-removed {
    color: #888;
    background-color: rgba(0,0,0,0);
    display: none;
}

[data-status~="removed"] .tool-f-removed {
    display: inline-block;
}

/* Favorite */
button.tool-fav {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.tool tr:hover .no-fav button.tool-fav {
    color: #888;
}

.tool tr:hover .no-fav button.tool-fav:hover {
    color: #f7a100;
}

.tool button.tool-fav:hover {
    color: #f7a100;
}

[data-fav="true"] button.tool-fav {
    color: #f7a100;
}

[data-fav="true"] button.tool-fav:hover {
    color: #888;
}

[data-fav="nested"] button.tool-fav {
    color: #fff;
}

[data-fav="nested"] button.tool-fav:hover {
    color: #888;
}

[data-fav="folder"] button.tool-fav {
    color: rgba(0,0,0,0);
}

[data-fav="folder"] button.tool-fav:hover {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}


/* Errors */
button.tool-error {
    color: #f7a100;
}

[data-errors="false"] button.tool-error {
    color: rgba(0,0,0,0);
}

[data-errors="false"] button.tool-error:hover {
    background-color: rgba(0,0,0,0);
}

/* Link */
button.tool-link {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.tool tr:hover button.tool-link {
    color: #fff;
}

/* Folder Entry */
button.tool-folder-entry {
    color: rgba(0,0,0,0);
}

.tool tr:hover button.tool-folder-entry {
    color: #fff;
}

/* Folder Static Path */
button.tool-folder-static-path:hover {
    text-decoration: line-through;
}

/* -= Filters togglers =- */

/* Filter changed */
button.tool-filter-changed-color {
    color: #888;
}

button.tool-filter-changed-color:hover {
    color: #1ba7c0;
}

[data-filter-changed="true"] button.tool-filter-changed-color {
    color: #1ba7c0;
}

[data-filter-changed="true"] button.tool-filter-changed-color:hover {
    color: #888;
}

/* Don't Display Folders */
button.tool-dont-display-folders {
    color: #888;
    text-decoration: line-through;
}

button.tool-dont-display-folders:hover {
    color: #1ba7c0;
}

[data-dont-display-folders="true"] button.tool-dont-display-folders {
    color: #1ba7c0;
}

[data-dont-display-folders="true"] button.tool-dont-display-folders:hover {
    color: #888;
}

/* Filter open */
button.tool-filter-open-color {
    color: #888;
}

button.tool-filter-open-color:hover {
    color: #1ba7c0;
}

[data-filter-open="true"] button.tool-filter-open-color {
    color: #1ba7c0;
}

[data-filter-open="true"] button.tool-filter-open-color:hover {
    color: #888;
}

/* Filter locked */
button.tool-filter-locked-color {
    color: #888;
}

button.tool-filter-locked-color:hover {
    color: #1ba7c0;
}

[data-filter-locked="true"] button.tool-filter-locked-color {
    color: #1ba7c0;
}

[data-filter-locked="true"] button.tool-filter-locked-color:hover {
    color: #888;
}

/* Filter flocked */
button.tool-filter-flocked-color {
    color: #888;
    border: dashed;
    border-width: 1px;
}

button.tool-filter-flocked-color:hover {
    color: #9244ec;
}

[data-filter-flocked="true"] button.tool-filter-flocked-color {
    color: #9244ec;
}

[data-filter-flocked="true"] button.tool-filter-flocked-color:hover {
    color: #888;
}

/* Filter outdate */
button.tool-filter-outdate-color {
    color: #888;
}

button.tool-filter-outdate-color:hover {
    color: #1ba7c0;
}

[data-filter-outdate="true"] button.tool-filter-outdate-color {
    color: #1ba7c0;
}

[data-filter-outdate="true"] button.tool-filter-outdate-color:hover {
    color: #888;
}

/* Filter union */
button.tool-filter-union-color{
    color: #888;
    font-size: 18px;
}

button.tool-filter-union-color:hover {
    color: #1ba7c0;
}

[data-filter-union="true"] button.tool-filter-union-color {
    color: #1ba7c0;
}

[data-filter-union="true"] button.tool-filter-union-color:hover {
    color: #888;
}

/* Filter fav */
button.tool-filter-fav-color {
    color: #888;
}

button.tool-filter-fav-color:hover {
    color: #1ba7c0;
}

[data-filter-fav="true"] button.tool-filter-fav-color {
    color: #1ba7c0;
}

[data-filter-fav="true"] button.tool-filter-fav-color:hover {
    color: #888;
}

/* Filter errors */
button.tool-filter-errors-color {
    color: #888;
}

button.tool-filter-errors-color:hover {
    color: #1ba7c0;
}

[data-filter-errors="true"] button.tool-filter-errors-color {
    color: #1ba7c0;
}

[data-filter-errors="true"] button.tool-filter-errors-color:hover {
    color: #888;
}

/* Hiding file/folder location in tiny and compact views */
.tool-tiny .path-location,
.tool-compact .path-location {
    display: none;
}

.path-margin {
    color: rgba(0,0,0,0)
}

/* Hiding file/folder margin area in full view */
.tool-full .path-margin {
    display: none;
}
